<div class="wrapper">
	<!-- Header page -->
		<%- include Main/Header %>
	<!-- End Header page -->

	<!-- Section: Benefit -->
		<%- include Main/Benefit %>
	<!-- End Section: Benefit -->

	<!-- Section: Staff -->
		<%- include Main/Staff %>
	<!-- End Section: Staff -->

	<!-- Section: Facility -->
		<%- include Main/Facility %>
	<!-- End Section: Facility -->

	<!-- Section: Coach -->
		<%- include Main/Coach %>
	<!-- End Section: Coach -->

	<!-- Section: Testimonial -->
		<%- include Main/Testimonial %>
	<!-- End Section: Testimonial -->

	<!-- Section: Process -->
		<%- include Main/Process %>
	<!-- End Section: Process -->

	<!-- Section: Register -->
		<%- include Main/Register %>
	<!-- End Section: Register -->

	<!-- Section: Slogan -->
		<!-- <%- include Main/Slogan %> -->
	<!-- End Section: Slogan -->

	<!-- Footer page -->
		<%- include Main/Footer %>
	<!-- End Section: Footer -->


	<!-- CTA -->
	<div class="floating-cta">
		<a href="#ss-register" class="btn-scroll btn-floating-register"></a>
	</div>
</div>
